.metaData {
  color: #7d7d7d;
  text-transform: uppercase;
}

.blogImg {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
}

a:link {
  color: #414a4c;
  text-decoration: underline;
}
a:hover {
  color: #414a4c;
}
a:visited {
  color: #414a4c;
}

a.blogLink:link {
  color: #414a4c;
  border-bottom: dashed 1px;
  text-decoration: none;
}
a.blogLink:hover {
  color: #414a4c;
  border-bottom: dashed 2px;
}
a.blogLink:visited {
  color: #414a4c;
}