<main class="hero-shell" aria-label="Supriya Srivatsa home">
  <!--div class="hero-gridline hero-gridline-v-left"></div>
  <div class="hero-gridline hero-gridline-v-right"></div>
  <div class="hero-gridline hero-gridline-h-top"></div>
  <div class="hero-gridline hero-gridline-h-bottom"></div>-->

  <section class="hero-content">
    <p class="hero-kicker">Hi! I'm</p>
    <h1 class="hero-name">SUPRIYA<br/>SRIVATSA</h1>
    <br/>
    <p class="hero-copy">
      I'm building <a href="https://theslowweb.net/" target="_blank" rel="noopener noreferrer">The Slow Web</a>, slowly.<br/>
      I write at the <a href="https://musingmosaic.substack.com/" target="_blank" rel="noopener noreferrer">Musing Mosaic</a> and <a href="https://lemonandcinnamon.substack.com/" target="_blank" rel="noopener noreferrer">Lemon and Cinnamon</a>.<br/>
      Software engineer at ____, I speak at tech conferences on niche and intriguing topics. <br/>
      I'm an avid reader, fond of travel, solitude and meditative arts.
    </p>
  </section>

  <figure class="hero-image-wrap">
    <img src="/public/assets/supriya_srivatsa_image.jpg" alt="Supriya Srivatsa by the sea" class="hero-image" />
  </figure>
</main>
